html, body
{
    font: normal 14px Arial;
    margin: 0;
    padding: 0;

    background: #000;

    width: 100%;
    height: 100%;
}

header h1
{
    margin: 0;
    padding: 0.5em;
}

.tools
{
    float: left;
    width: 20%;
    height: 100%;
    background: #333;
    color: #FFF;
}

.map-container
{
    width: 80%;
    height: 100%;
    background: #666;

    display: flex;
    align-items: center;
    justify-content: center;
}

.map-container .map
{
    background: #999;

    /* Initial size... */
    width: 10em;
    height: 10em;

}
