/*
    Layout
    ********************************************************************************************************************
*/

html, body
{
    font: normal 12px Arial;
    margin: 0em;
    padding: 0em;
    width: 100%;
    height: 100%;
}

/*
    Not working?
*/
::selection,
::-webkit-selection,
::-moz-selection
{
    color: #71A9E2;
    background: #71A9E2;
}

body
{
    background: #333 url('../images/background.png');
    background-size: cover;
    color: #FFF;
}

.parent
{
    width: 100%;
    height: 100%;
    box-shadow: inset 0em 0em 10em rgba(0, 0, 0, 0.8);
}

.wrapper
{
    width: 70em;
    margin: 0em auto;
}

/*
    Header
    ********************************************************************************************************************
*/

.header
{
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    margin-bottom: 3em;
    height: 3em;
    line-height: 3em;
    box-shadow: 0em 0em 2em rgba(0, 0, 0, 0.7);
    border-bottom: solid 0.1em #000;
}

.header h1
{
    float: left;
    color: #FFF;
    margin: 0em;
    padding: 0em;
    font-size: 2em;
    color: #CCC;
}

/*
    Footer
    ********************************************************************************************************************
*/

.footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    text-shadow: 0em 0em 0.5em #000;
    color: #FFF;
    padding: 0.5em;
}

/*
    Navigation
    ********************************************************************************************************************
*/

.header .nav
{
    text-align: center;
    padding: 0.1em;
}

.header .nav ul
{
    width: 60em;
    margin: 0em auto;
    padding: 0em;
    list-style: none;
}

.header .nav ul li
{
    display: inline-block;
}

.header .nav ul li a
{
    font-size: large;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    padding: 0em 1em;
}

.header .nav ul li a:hover,
.header .nav ul li a:focus
{
    color: #4D94DB;
}

.header .buttons
{
    float: right;
}

.header .buttons .score,
.header .buttons .user,
.header .buttons .button
{
    vertical-align: middle;
    margin-right: 0.5em;
    height: 1em;
    line-height: 1em;
}

.header .buttons .score
{
    color: #FFC506;
    font-size: 1.4em;
}

.header .buttons .user
{
    color: inherit;
    text-decoration: none;
}

.header .buttons .user .name
{
    font-weight: bold;
    font-size: 1.4em;
    padding: 0.4em;
}

.header .buttons .user .role
{
    color: #CCC;
}

.header .buttons .user img
{
    border: 0em;
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

/*
    Common Form Content
    ********************************************************************************************************************
*/

.button,
.wrapper form input[type=submit]
{
    display: inline-block;
    border-radius: 0.3em;
    border: 0em;
    padding: 0.3em 0.4em;
    color: #333 !important;
    background: #CCC;
    font-size: 1.2em;
    text-decoration: none;
    margin: 0.5em;
}
.button:hover,
.button:focus,
.wrapper form input[type=submit]:hover,
.wrapper form input[type=submit]:focus
{
    cursor: pointer;
    background: #999;
}

.button.confirm,
.wrapper form input[type=submit].confirm
{
    background: #C00;
    color: #FFF !important;
}

.wrapper form input[type=text],
.wrapper form input[type=password]
{
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
    color: #333;
    outline: 0;
    border: 0em;
    font-size: 1.3em;
}
.wrapper form input[type=text]:focus,
.wrapper form input[type=text]:hover,
.wrapper form input[type=password]:focus
.wrapper form input[type=password]:hover
{
    background: #EEE;
}
.wrapper .error
{
    background: #FFCCE6;
    color: #F00 !important;
    border-radius: 0.4em;
    padding: 0.5em;
}

.wrapper ul.error
{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
.wrapper ul.error li
{
    padding: 0.5em;
}

.wrapper table tr td.center
{
    text-align: center;
}

.wrapper div.success
{
    padding: 0.5em;
    background: #0C9;
    color: #060;
    border-radius: 0.4em;
}

/*
    Content
    ********************************************************************************************************************
*/

.wrapper .content
{
    background: rgba(30, 30, 30, 0.5);
    border-radius: 0.5em;
    padding-bottom: 0.2em;
    box-shadow: 0em 0em 3em rgba(0, 0, 0, 0.4);
}

.wrapper .content h2
{
    padding: 0.6em 0.4em 0.1em 0.4em;
}

.wrapper .content h3
{
    padding: 0.4em 0.6em;
}

.wrapper .content p
{
    padding: 0.4em 0.8em;
}
.wrapper .content p.center
{
    text-align: center;
}

.wrapper .content a
{
    color: #4D94DB;
}
.wrapper .content a:hover,
.wrapper .content a:focus
{
    color: #71A9E2;
}

/* Holds errors and success messages */
.wrapper .content .messages
{
    width: 50%;
    margin: 0.5em auto;
    text-align: center;
}

/*
    Join (Content)
    ********************************************************************************************************************
*/
.wrapper .join
{
    text-align: center;
}

.wrapper .join .box
{
    display: inline-block;
    width: 20em;
    margin: 0em auto;
    vertical-align: top;
}


.wrapper .join .box table
{
    margin: 0em auto;
}

.wrapper .join .online
{
    margin-top: 3em;
    font-size: 1.5em;
}

/*
    Account (Content)
    ********************************************************************************************************************
*/

.wrapper .account-update-details table
{
    margin: 0em auto;
}
.wrapper .account-update-details table tr th
{
    text-align: right;
    padding-right: 1em;
}

/*
    Profile
    ********************************************************************************************************************
*/

.wrapper .profile
{

}

.wrapper .profile .info
{
    width: 50%;
    margin: 2em auto;
    text-align: left;
    border: none;
    border-collapse: collapse;
}
.wrapper .profile .info th,
.wrapper .profile .info td
{
    padding: 0.8em;
    width: 50%;
}
.wrapper .profile .info .section
{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.wrapper .profile .info .picture
{
    width: 100%;
    text-align: center;
}
.wrapper .profile .info .picture img,
.wrapper .profile .picture img
{
    width: 12em;
    height: 12em;
}
.wrapper .profile .info .status .online,
.wrapper .profile .info .status .offline
{
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: bold;
}
.wrapper .profile .info .status .online
{
    background: green;
    color: #FFF;
}
.wrapper .profile .info .status .offline
{
    background: #CCC;
    color: #333;
}

/*
    Credits
    ********************************************************************************************************************
*/

.wrapper .credits table
{
    width: 75%;
    margin: 0em auto;
    text-align: left;
}