<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} : %-20thread : %-5level : %-75c : %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
        </Root>
        <Logger name="com.projectsandbox.components" level="debug">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
