/*
    Map and radar UI panels
    ********************************************************************************************************************
*/

#projectsandbox #ps-ui #ps-map
{
    bottom: 8em;
    width: 18em;
    height: 18em;
}

#projectsandbox #ps-ui #ps-map-radar
{
    bottom: 28em;
    width: 20em;
    height: 20em;
}

@media all and (max-width: 1000px)
{
    #projectsandbox #ps-ui #ps-map
    {
        width: 18em;
        height: 18em;
    }
}


/*
    Shared radar/map styling
*/

#projectsandbox #ps-ui .radar
{
    position: fixed;
    right: 1.5em;
    border-color: rgba(0, 255, 68, 0.4);
    background: rgba(0, 102, 34, 0.4);
}

#projectsandbox #ps-ui .radar span
{
    position: absolute;
    background: rgba(0, 102, 34, 0.8);
    width: 1em;
    height: 1em;
}
#projectsandbox #ps-ui .radar span.danger
{
    background: rgba(255, 0, 0, 0.5);
}

#projectsandbox #ps-ui .radar span.self
{
    background: rgba(0, 240, 34, 0.4);
}
