/*
    Stats region (fps / primitives etc)
    ********************************************************************************************************************
*/

#projectsandbox #ps-ui #ps-stats
{
    position: fixed;
    top: 1.5em;
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 0em 0em 0.2em #333;
}

#projectsandbox #ps-ui #ps-stats
{
    font-size: 2em;
}
#projectsandbox #ps-ui #ps-stats #ps-fps
{
    font-size: 1em;
}