/*
    Layout
    ********************************************************************************************************************
*/

html, body
{
    font: normal 12px Arial;
    margin: 0em;
    padding: 0em;
}

/*
    Not working?
*/
::selection,
::-webkit-selection,
::-moz-selection
{
    color: #4D94DB;
    background: #4D94DB;
}

body
{
    background: #333 url('../images/background.png');
    background-size: cover;
    color: #FFF;
}

.wrapper
{
    width: 70em;
    margin: 0em auto;
}

/*
    Shared
    ********************************************************************************************************************
*/

.button
{
    border-radius: 0.3em;
    border: 0em;
    padding: 0.3em 0.4em;
    color: #333;
    background: #CCC;
    font-size: 1.2em;
    text-decoration: none;
    margin: 0.5em;
}
.button:hover,
.button:focus
{
    cursor: pointer;
    background: #999;
}

/*
    Header
    ********************************************************************************************************************
*/

.header
{
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-bottom: solid 0.2em rgba(0, 0, 0, 0.5);
    margin-bottom: 3em;
    height: 3em;
    line-height: 3em;
}

.header h1
{
    float: left;
    color: #FFF;
    margin: 0em;
    padding: 0em;
    font-size: 2em;
    color: #CCC;
}

/*
    Navigation
    ********************************************************************************************************************
*/

.header .nav
{
    text-align: center;
    padding: 0.3em;
}

.header .nav ul
{
    width: 60em;
    margin: 0em auto;
    padding: 0em;
    list-style: none;
}

.header .nav ul li
{
    display: inline-block;
}

.header .nav ul li a
{
    font-size: large;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    padding: 0em 1em;
}

.header .nav ul li a:hover,
.header .nav ul li a:focus
{
    color: #4D94DB;
}

.header .buttons
{
    float: right;
}

.header .buttons .score,
.header .buttons .user,
.header .buttons .button
{
    vertical-align: middle;
    margin-right: 0.5em;
}

.header .buttons .score
{
    color: #FFC506;
    font-size: 1.4em;
}

.header .buttons .user
{
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

.header .buttons .user img
{
    border: 0em;
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

/*
    Join (Content)
    ********************************************************************************************************************
*/
.wrapper .join
{
    text-align: center;
}

.wrapper .join .box
{
    display: inline-block;
    width: 20em;
    margin: 0em auto;
    vertical-align: top;
}


.wrapper .join .box table
{
    margin: 0em auto;
}

.wrapper .join form input[type=text],
.wrapper .join form input[type=password]
{
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
    color: #333;
    outline: 0;
    border: 0em;
    font-size: 1.3em;
}
.wrapper .join form input[type=text]:focus,
.wrapper .join form input[type=text]:hover,
.wrapper .join form input[type=password]:focus
.wrapper .join form input[type=password]:hover
{
    background: #EEE;
}
.wrapper .join form .error
{
    background: #FFCCE6;
    color: #F00 !important;
}

.wrapper .join ul.errors
{
    list-style: none;
    margin: 0em;
    padding: 0em;
    border: solid 0.2em #F00;
    background: #FFCCE6;
    color: #F00;
    border-radius: 0.5em;
}
.wrapper .join ul.errors li
{
    padding: 0.4em 0.2em;
}

.wrapper .online
{
    margin-top: 3em;
    font-size: 1.5em;
}

/*
    Content
    ********************************************************************************************************************
*/

.wrapper .content
{
    background: rgba(30, 30, 30, 0.5);
    border-radius: 0.5em;
}

.wrapper .content h2
{
    padding: 0.6em 0.4em;
}

.wrapper .content p
{
    padding: 0.4em 0.8em;
}
.wrapper .content p.center
{
    text-align: center;
}

.wrapper .content a
{
    color: #4D94DB;
}

/*
    Footer
    ********************************************************************************************************************
*/

.footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    text-shadow: 0em 0em 0.5em #000;
    color: #FFF;
    padding: 0.5em;
}
