.clear
{
    clear: both;
}
html, body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body
{
    font: normal 12px Arial;
    background: #333;
    margin: 0em;
}

.mobile-warning
{
    display: none;
}

/*
    These CSS rules are the key for working on mobile.

    Since we use em as a unit, we can just scale everything on the page to fit for smaller resolutions.
*/
@media all and (max-width: 1000px)
{
    *
    {
        font-size: 8px;
    }

    .mobile-warning
    {
        display: block;
        position: fixed;
        top: calc(50% - 1em);
        width: 16em;
        left: calc(50% - 8em);
        font-size: 4em;
        background: rgba(30, 30, 30, 0.7);
        text-align: center;
        border-radius: 0.2em;
        padding: 0.5em;
        z-index: 99999;

        -webkit-animation: notification-hide 0s ease-in 2s forwards;
        -moz-animation: notification-hide 0s ease-in 2s forwards;
        -o-animation: notification-hide 0s ease-in 2s forwards;
        animation: notification-hide 0s ease-in 2s forwards;
    }
}
@media all and (max-width: 600px)
{
    *
    {
        font-size: 6px;
    }
}

#projectsandbox
{
    display: table;
    width: 100%;
    height: 100%;
    min-width: 120em;
    min-height: 60em;
    color: #FFF;
}

#projectsandbox #ps-render-container
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/*
    Canvas Render Elements
    ********************************************************************************************************************
*/

/* Main canvas */
#projectsandbox #ps_render
{
    width: 100%;
    height: 100%;
}

/* Canvas for rendering text */
#projectsandbox #ps_render_text
{
    display: none;
    background: #FFF;
    border: solid 0.2em #F00;
}
