/*
    Map
    ********************************************************************************************************************
*/

#projectsandbox #ps-ui #ps-map,
#projectsandbox #ps-ui #ps-map-radar
{
    position: fixed;
    right: 1.5em;
    border-color: rgba(0, 255, 68, 0.4);
    background: rgba(0, 102, 34, 0.4);
}

#projectsandbox #ps-ui #ps-map
{
    bottom: 8em;
    width: 18em;
    height: 18em;
}

#projectsandbox #ps-ui #ps-map-radar
{
    bottom: 28em;
    width: 20em;
    height: 20em;
}

#projectsandbox #ps-ui #ps-map span
{
    position: absolute;
    background: rgba(0, 102, 34, 0.8);
    min-width: 0.5em;
    min-height: 0.5em;
}
#projectsandbox #ps-ui #ps-map span.danger
{
    background: rgba(255, 0, 0, 0.8);
}

@media all and (max-width: 1000px)
{
    #projectsandbox #ps-ui #ps-map
    {
        width: 18em;
        height: 18em;
    }
}
