/*
    Options
    ********************************************************************************************************************
*/

#projectsandbox #ps-options
{
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-size: 2em;
}
#projectsandbox #ps-options .button
{
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    text-shadow: 0em 0em 0.4em #333;
    margin: 0em 0.2em;
    cursor: pointer;
}
#projectsandbox #ps-options .button:focus,
#projectsandbox #ps-options .button:hover
{
    color: #DDD;
}
