/*
    Score
    ********************************************************************************************************************
*/

#projectsandbox #ps-ui #ps-score
{
    position: fixed;
    top: 1em;
    left: 1em;
    font-size: 3em;
    text-shadow: #000 0em 0em 0.4em;
}
