.clear
{
    clear: both;
}
html, body
{
    width: 100%;
    height: 100%;
}
body
{
    font: normal 12px Arial;
    background: #333;
    margin: 0em;
}

#projectsandbox
{
    display: table;
    width: 100%;
    height: 100%;
    min-width: 120em;
    min-height: 60em;
    color: #FFF;
}

#projectsandbox #ps-render-container
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/*
    Render Elements
    ********************************************************************************************************************
*/

#projectsandbox #ps_render
{
    box-shadow: #111 0em 0em 4.5em;
}

#projectsandbox #ps_render_text
{
    display: none;
    background: #FFF;
    border: solid 0.2em #F00;
}

/*
    Death Screen
    ********************************************************************************************************************
*/
#projectsandbox #ps-death-screen
{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    outline: none;
    visibility: hidden;
    z-index: 2;
}
#projectsandbox #ps-death-screen .container
{
    display: table;
    width: 100%;
    height: 100%;
}
#projectsandbox #ps-death-screen .message
{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 10em;
    margin: 0em auto;

    -webkit-animation: flyin 1s ease-out;
    -webkit-animation-iteration-count: 1;

    -moz-animation: flyin 1s ease-out;
    -moz-animation-iteration-count: 1;

    -o-animation: flyin 1s ease-out;
    -o-animation-iteration-count: 1;

    animation: flyin 1s ease-out;
    animation-iteration-count: 1;
}
#projectsandbox #ps-death-screen .message .wrekt
{
    font-size: 8em;
    text-shadow: 0em 0em 0.5em #000;
}
#projectsandbox #ps-death-screen .message .cause
{
    font-size: 2em;
}
#projectsandbox #ps-death-screen .continue
{
    position: absolute;
    font-size: 2em;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: 0.5em;

    -webkit-animation: flash 1s linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation: flash 1s linear;
    -moz-animation-iteration-count: infinite;

    -o-animation: flash 1s linear;
    -o-animation-iteration-count: infinite;

    animation: flash 1s linear;
    animation-iteration-count: infinite;
}

/*
    UI
    ********************************************************************************************************************
*/

#projectsandbox #ps-ui
{
    position: fixed;
    display: table;
    z-index: 1;
}

/*
    Stars
    --------------------------------------------------------------------------------------------------------------------
*/
#projectsandbox #ps-ui #ps-ui-stars
{
    position: absolute;
    width: inherit;
    bottom: 1em;
}
#projectsandbox #ps-ui #ps-ui-stars img
{
    width: 4em;
    height: 4em;
    margin: 0.5em;

    -webkit-animation: flash 1s linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation: flash 1s linear;
    -moz-animation-iteration-count: infinite;

    -o-animation: flash 1s linear;
    -o-animation-iteration-count: infinite;

    animation: flash 1s linear;
    animation-iteration-count: infinite;
}

/*
    Top right box
    --------------------------------------------------------------------------------------------------------------------
*/
#projectsandbox #ps-ui #ps-ui-top-right
{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0.5em;
}

#projectsandbox #ps-ui #ps-ui-top-right #ps-ui-score,
#projectsandbox #ps-ui #ps-ui-top-right #ps-ui-healthbar
{
    float: right;
    clear: both;
}
#projectsandbox #ps-ui #ps-ui-top-right #ps-ui-score
{
    font-size: 3em;
    text-shadow: #000 0em 0em 0.4em;
    color: #FFF;
}

#projectsandbox #ps-ui #ps-ui-top-right #ps-ui-healthbar
{
    margin-top: 0.5em;
    width: 14em;
    height: 0.75em;
    background: #425867;
    box-shadow: #333 0em 0em 0.5em;
    overflow: hidden;
    border: solid 0.2em #333;
}

#projectsandbox #ps-ui #ps-ui-top-right #ps-ui-healthbar #ps-ui-healthbar-fill
{
    width: 50%;
    background: #33aeff;
    border-right: solid 0.2em #333;
}

/*
    Inventory
    --------------------------------------------------------------------------------------------------------------------
*/
#projectsandbox #ps-ui .inventory-container
{
    float: left;
    display: table;
    height: 100%;
}

#projectsandbox #ps-ui #ps-ui-inventory
{
    display: table-cell;
    vertical-align: middle;
}
#projectsandbox #ps-ui #ps-ui-inventory .slot
{
    width: 4em;
    height: 4em;
    line-height: 7.5em;

    padding: 0.5em;
    margin: 0.5em;
    margin-left: 0em;

    background: rgba(0, 0, 0, 0.4);
    background-size: 100%;
    background-repeat: no-repeat;

    border: solid 0.1em #333;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    box-shadow: #666 0em 0em 0.5em;

    text-align: right;
    text-shadow: #000 0em 0em 0.2em;
}
#projectsandbox #ps-ui #ps-ui-inventory .slot.selected
{
    background: rgba(51, 174, 255, 0.4);
}

/*
    Sidebar
    ********************************************************************************************************************
*/

#projectsandbox .ps-sidebar
{
    position: fixed;
    top: 0;
    width: 25em;
    height: 100%;
    background: #222;
    overflow: hidden;
    z-index: 1;
}
#projectsandbox .ps-sidebar.left
{
    left: 0;
    border-right: solid 0.2em #111;
    box-shadow: #222 0.5em 0em 4.5em;
}

#projectsandbox .ps-sidebar.right
{
    right: 0;
    border-left: solid 0.2em #111;
    box-shadow: #222 -0.5em 0em 4.5em;
}
#projectsandbox .ps-sidebar .container
{
    height: 50%;
}
#projectsandbox .ps-sidebar h3
{
    width: 100%;
    padding: 0.5em;
    margin: 0em;
    background: #111;
}


/*
    Sidebar - Chat
    ********************************************************************************************************************
*/

#projectsandbox .ps-sidebar #ps-chat
{
    display: flex;
    flex-direction: column;
    height: calc(100% - 4em);
}

#projectsandbox .ps-sidebar #ps-chat #ps-chat-box
{
    height: 4em;
}
#projectsandbox .ps-sidebar #ps-chat #ps-chat-box input
{
    width: 100%;
    border: none;
    outline: none;
    padding: 0.6em 0.5em;
    background: #333;
    color: #CCC;
    border-bottom: solid 0.2em #111;
}
#projectsandbox .ps-sidebar #ps-chat #ps-chat-box input:focus,
#projectsandbox .ps-sidebar #ps-chat #ps-chat-box input:hover
{

}

#projectsandbox .ps-sidebar #ps-chat #ps-chat-messages
{
    flex: 2;
    height: 100vh;
    overflow-y: scroll;
}
#projectsandbox .ps-sidebar #ps-chat #ps-chat-messages p
{
    clear: both;
    margin: 0em;
    padding: 0.4em 0.2em;
    border-bottom: solid 0.1em #111;
    min-height: 3em;
}
#projectsandbox .ps-sidebar #ps-chat #ps-chat-messages p .thumb
{
    float: left;
    vertical-align: middle;
    width: 3em;
    height: 3em;
    margin: 0em 0.4em 0em 0.2em;
}

/*
    Sidebar - Options
    ********************************************************************************************************************
*/

#projectsandbox .ps-sidebar #ps-options .button
{
    background: #444;
    width: 100%;
    padding: 1em;
    text-align: center;
    border: solid 0.2em #111;
    border-left: none;
    border-right: none;
    font-weight: bold;
}
#projectsandbox .ps-sidebar #ps-options .button:focus,
#projectsandbox .ps-sidebar #ps-options .button:hover
{
    background: #666;
    cursor: pointer;
}
